<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/bootstrap-5.3.6/css/bootstrap.min.css">
    <title>{{title or "Página Inicial"}}</title>
    
    {% block page_header %} {% endblock %}
    {% block page_style %} {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <main class="container-fluid">
        {% block content %}
        <!-- Todo o conteúdo aqui -->
        {% endblock %}
    </main>

    <script type="text/javascript" src="/static/bootstrap-5.3.6/js/bootstrap.bundle.min.js"></script>
    {% block page_js %} {% endblock %}
</body>
</html>