<div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
        </tr>
      </thead>
      <tbody>
        
        {% for venda in vendas %}
        <tr>
          <td>{{venda["mes"]}}</td>
          <td>{{locale.currency(venda["total"], grouping=True, symbol=True)}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>